*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    background-color: #FAFAFA;
}

header{
    position: fixed;
    width:100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EC362D;
    color:#FFFFFF;
    font-size: 37px;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top:0;
    z-index:1;
}

/* ================== TELA 1 =================*/

.screen-1{
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.your-quizzes-empty{
    margin-top: 120px;
    width: 100%;
    height: 181px;
    border: thin dashed #D4D4D4;
    border-radius: 5px;
    text-align: center;
    padding-top:20px ;
    margin-bottom: 60px;
}

.msg-no-quizz{
    text-align: center;
    color:#B9B9B9;
    font-size: 20px;
}

button.btn-create-quizz{
    width: 181px;
    height: 40px;
    border: thin dashed #EC362D;
    border-radius: 50px;
    background-color:#FFFFFF;
    color:#EC362D;
    font-size: 21px;
    font-family: 'Roboto'; 
    display: block;
    margin:20px auto 30px auto;
}
.your-quizzes{
    margin-top:100px;
    width: 100%; 
    margin-bottom: 20px;
}
.txt-yourQ{
    display: flex;
    align-items: center;
    height:50px;
    margin-bottom: 10px;
}

.screen-1 h1{
    margin-right:17px;
    font-weight: 700;
    font-size:20px;
}
.txt-yourQ ion-icon{
    color:#EC362D;
    font-size:30px;
}

.options{
    position:absolute;
    right:15px;
    top:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EC362D;
    width: 43px;
    height: 87px;
    border-radius: 10px;
}

.options ion-icon{
    font-size: 25px;
    color:#FFFFFF;
    margin:auto 0;
}

.options ion-icon:hover,.txt-yourQ ion-icon:hover{
    transform: scale(1.3);
}

.quizz:hover{
    transform: scale(1.05);
    border:#EC362D thin solid
}

div.list-quizzes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.fix-quizz{
    position: relative;
}

div.quizz{
    width:330px;
    height: 181px;
    border-radius:5px;
    margin-right:15px;
    margin-bottom:15px;
}
div.quizz p{
    height: 54px;
    width: 301px;
    color:#FFFFFF;
    font-size: 19px;
    position:absolute;
    bottom:10px;
    left:18px;
    display: flex;
    align-items: center;
}

.all-quizzes{
    width: 100%;
}
div.all-quizzes h1{
    margin-bottom: 10px;
}
/* ================== TELA 2 =================*/

.quiz-body-2{
    position: absolute;
    background-color: #fafafa;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 70px;
    flex-wrap: wrap;
}

.img-banner-2{
    width: 100vw;
    height: 227px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
}

.banner-2{
    width: 100vw;
    height: 227px;
    display: flex;
    justify-content: center;
    background-position: center center;
    background-size: 100vw, 227px;
}

.quiz-title-2{
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    z-index: 0;
}

.question-2{
   background-color: white;
   width: auto;
   height: auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: column;
   margin-top: 42px; 
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.question-title-2{
    width: 689px;
    height: 138px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 28px;
    margin-right: 36px;
    margin-left: 36px;
    word-break: break-word;
}

.answers-2{
    margin-top: 19px;
    height: auto;
    width: 689px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 36px;
}

.opacity-answer-2{
    opacity: 0.3;
}

.answer-2 img{
    width: 329px;
    height: 175px;
}

.text-answer-2{
    color:black;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    margin-top: 9px;
    margin-bottom: 19px;
    word-break: break-word;
    width: 329px;
}

.green-text-2{
    color:  #009C22;
}

.red-text-2{
    color: #FF4B4B;
}

.quiz-finalization-2{
    width: 759px;
    height: 430px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 44px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.quiz-finalization-title-2{
    width: 727px;
    height: 99px;
    margin-top: 18px;
    background-color: red;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.img-finalization-2{
    width: 364px;
    height: 273px;
}

.text-img-finalization-2{
    width: 727px;
    display: flex;
    justify-content: space-between;
    word-break: break-all;
}

.text-finalization-2{
    width: 328px;
    height: 273px;
    margin-right: 14px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
}

.restart-quiz-2{
    margin-top: 57px;
    width: 260px;
    height: 52px;
    border-radius: 15px;
    border: none;
    background-color: #EC362D;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF5F4;
}

.return-home-2{
    margin-top: 16px;
    width: 220px;
    height: 44px;
    border: none;
    background-color: #fafafa;
    margin-bottom: 35px;
    color: #818181;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* ================== TELA 3 =================*/
.page-3{
    margin-top: 132px;
    display: flex;
    justify-content: center;
    text-align: center;
}

button{
    cursor: pointer;
}

.page-3 ion-icon{
    font-size: 23px;
}
h5{
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 27px;
    text-align: center;

}

.questions-container{
    margin: 0 auto 24px auto;;
    background-color: white;
    width: 625px;
    padding: 11px 20px 8px 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.questions-container div:first-child{
    display: flex;
    justify-content: space-between;
}

.questions-container div:last-child{
    padding-bottom: 27px;

}

.page-3 input{
    width: 100%;
    color: black;
    display: block;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 10px 0 8px 23px;
}

.input-padding-24px{
    padding-bottom: 24px;
    padding-top: 21px;
}

.page-3-1 input{
    margin: 4px 0;
}

::placeholder, input{
    font-style: italic;
    line-height: 23px;
    font-size: 19px;
    font-weight: 400;
}

::placeholder{
    color: #BABABA;
}

.page-3 button{
    border: 0px;
    border-radius: 15px;
    background-color: #EC362D;
    color: #FFF5F4;
    font-size: 21px;
    text-align: center;
    font-weight: 400;
    padding: 12px 45px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.page-3-3 button{
    padding: 12px 90px;
}

.page-3 button:active{
    background-color: #8c1f19;
    font-size: 20.5px;}

h6{
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    padding-top: 10px;
    text-align: left;
}

.page-3-2 h6:first-child, .page-3-3 h6:first-child{
    margin-bottom: 12px;
}

.page-3-2 div h6:nth-child(5){
    margin-top: 26px;
    margin-bottom: 24px;
}

.page-3-2 div h6:nth-child(10){
    margin-top: 28px;
    margin-bottom: 14px;
}

.input-margin-14px{
    margin-top: 14px;
}

.input-margin-32pxtop{
    margin-top: 32px;
}

.input-margin-32px{
    margin-bottom: 32px;
}

.page-3-4 a{
    display: block;
    color: #818181;
    font-size: 21px;
    font-weight: 400;
    font-style: none;
    text-decoration: none;
}

.page-3-4 a:hover{
    text-decoration: underline;
}

.page-3-4 button, .page-3-3 button{
    margin-bottom: 25px;
}

.loading-screen{
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.loading img{
    width:200px;
    height: 200px;
}

.loading span{
    position:absolute;
    bottom: 0px;
    left: 14px;
    color:#EC362D;
    font-size:33px;
}

.page-3-2 .erro-warning, .page-3-3 .erro-warning{
    padding-top: 5px;
}

.erro-warning{
    color: #EC362D;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
}

.erro-background-color{
    background-color: #FFE9E9;
}
@media (max-width: 1100px){
     /* ================== TELA 1 =================*/
     .screen-1{
        width: 100vw;
        height: 100vh;
    }
    div.list-quizzes{
        justify-content: center;
    }

    div.all-quizzes h1,.txt-yourQ {
        margin-left: 20px;
    }
    .your-quizzes-empty{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    /* ================== TELA 2 =================*/

    .question-2{
        width: 100vw;
    }
    .question-title-2{
        width: auto;
        height: 89px;
        margin-top: 18px;
        margin-left: 18px;
        margin-right: 18px;
    }
    .answers-2{
        width: auto;
        margin-left: 18px;
        margin-right: 18px;
        justify-content: space-evenly;
    }
    .answer-2 img{
        width: 163px;
        height: 113px;
    }
    .text-answer-2{
        width: 163px;
    }
    .quiz-finalization-2{
        width: 100vw;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .quiz-finalization-title-2{
        width: auto;
        height: 99px;
        margin-left: 18px;
        margin-right: 18px;
    }
    .text-img-finalization-2{
        width: auto;
        flex-wrap: wrap;
        margin-left: 18px;
        justify-content: center;
        margin-top: 9px;
    }
    .text-finalization-2{
        width: auto;
        height: auto;
        margin-top: 9px;
        margin-bottom: 14px;
    }
    .restart-quiz-2{
        width: 220px;
        height: 44px;
        font-size: 18px;
        line-height: 21px;
    }
    .return-home-2{
        font-size: 18px;
        line-height: 21px;
    }

    /* ================== TELA 3 =================*/

    body,.page-3{
        width: 100%;
    }

    .page-3{
        margin-top: 106px;
    }

    .questions-container{
        width: 100vw;
        padding: 11px 20px 8px 16px;
        background-size: 100%;
    }
    
    .input-padding-24px{
        padding-bottom: 24px;
        padding-top: 21px;
    }

    h5{
        font-size: 20px;
    }

    .page-3 button{
        font-size: 18px;
        padding: 16px 45px;
        margin-top: 29px;
        margin-bottom: 60px;
        width: 90%;
    }

    .page-3 button:active{
        background-color: #8c1f19;
        font-size: 18px;}

    .page-3 input{
        width: 100%;
        display: block;
        border-radius: 5px;
        padding: 10px 0 8px 23px;
    }

}

@media (max-width: 414px){
    .question-2{
        margin-top: 24px;
    }
    .question-title-2{
        font-size: 19px;
        line-height: 22px;
    }
    .text-answer-2{
        font-size: 13px;
        line-height: 15px;
    }
    .img-banner-2{
        height: 142px;
    }
    .banner-2{
        height: 142px;
        background-size: 100vw,142px;
    }
    .quiz-title-2{
        font-size: 19px;
        line-height: 22px;
    }
    .img-finalization-2{
        width: 340px;
        margin-left: -20px;
    }
    .restart-quiz-2{
        margin-top: 37px;
    }
    .quiz-finalization-title-2{
        font-size: 19px;
        line-height: 22px;
    }
    .text-finalization-2{
        font-size: 17px;
        line-height: 20px;
    }
}

.hidden{
    display:none;
}

